<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- Navigation -->
@if (isScreenSmall) {
<fuse-vertical-navigation class="dark bg-gray-900 print:hidden" [mode]="'over'" [name]="'mainNavigation'"
    [navigation]="navigation.default" [opened]="false">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <!-- Logo -->
        <div class="flex h-20 items-center px-8 pt-6">
            <a routerLink="/home">
                <img class="w-32" src="images/logo/logo-text-on-dark.svg" alt="WoWKeyb" />
            </a>
        </div>
    </ng-container>
</fuse-vertical-navigation>
}

<!-- Wrapper -->
<div class="flex w-full min-w-0 flex-auto flex-col">
    <!-- Header -->
    <div
        class="bg-card sticky top-0 z-[51] flex h-12 w-full flex-0 items-center px-4 shadow dark:border-b dark:bg-transparent dark:shadow-none sm:h-12 md:px-6 print:hidden">
        @if (!isScreenSmall && navigation?.horizontal) {
        <!-- Logo -->
        <div class="mx-2 flex items-center lg:mr-8">
            <a class="hidden lg:flex" routerLink="/home">
                <img class="w-32 dark:hidden" src="images/logo/logo-text.svg" alt="WoWKeyb" />
                <img class="hidden w-32 dark:flex" src="images/logo/logo-text-on-dark.svg" alt="WoWKeyb" />
            </a>
            <a class="flex lg:hidden" routerLink="/home">
                <img class="w-8" src="images/logo/logo.svg" alt="WoWKeyb" />
            </a>
        </div>
        <!-- Horizontal navigation -->
        <fuse-horizontal-navigation class="mr-2" [name]="'mainNavigation'"
            [navigation]="navigation.horizontal"></fuse-horizontal-navigation>
        }
        <!-- Navigation toggle button -->
        @if (isScreenSmall) {
        <button mat-icon-button (click)="toggleNavigation('mainNavigation')">
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        }
        @if (isAuthenticated) {
        <!-- Components -->
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            <!-- <languages></languages>
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
            <search [appearance]="'bar'"></search>
            <shortcuts></shortcuts>
            <messages></messages>
            <notifications></notifications>
            <button class="lg:hidden" mat-icon-button (click)="quickChat.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:chat-bubble-left-right'"></mat-icon>
            </button> -->
            <button mat-icon-button [routerLink]="['/support']" matTooltip="Support">
                <mat-icon [svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
            </button>
            <app-scheme-toggle></app-scheme-toggle>
            <user></user>
        </div>
        }
        @if(!isAuthenticated) {
        <div class="ml-auto flex items-center space-x-0.5 pl-2 sm:space-x-2">
            <button mat-icon-button [routerLink]="['/support']" matTooltip="Support">
                <mat-icon [svgIcon]="'heroicons_outline:question-mark-circle'"></mat-icon>
            </button>
            <app-scheme-toggle></app-scheme-toggle>
            <button mat-icon-button (click)="goToLogin()" matTooltip="Login">
                <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
            </button>
        </div>
        }
    </div>

    <!-- Content -->
    <div class="flex w-full flex-auto flex-col overflow-hidden min-h-0">
        <!-- *ngIf="true" hack is required here for router-outlet to work correctly.
             Otherwise, layout changes won't be registered and the view won't be updated! -->
        @if (true) {
        <router-outlet></router-outlet>
        }
    </div>


</div>