<div class="flex flex-col w-full h-full">
    <div class="flex flex-col sm:flex-row p-2 bg-gray-300 items-start sm:items-center">
        <!-- Desktop Controls -->
        <div class="hidden sm:flex flex-row">
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="reset()">
                <mat-icon>restart_alt</mat-icon>
                <span class="ml-2">Reset</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="zoomIn()">
                <mat-icon>zoom_in</mat-icon>
                <span class="ml-2">Zoom In</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="zoomOut()">
                <mat-icon>zoom_out</mat-icon>
                <span class="ml-2">Zoom Out</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="panUp()">
                <mat-icon>arrow_upward</mat-icon>
                <span class="ml-2">Up</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="panDown()">
                <mat-icon>arrow_downward</mat-icon>
                <span class="ml-2">Down</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="panLeft()">
                <mat-icon>arrow_back</mat-icon>
                <span class="ml-2">Left</span>
            </button>
            <button class="ml-3" mat-flat-button [color]="'primary'" (click)="panRight()">
                <mat-icon>arrow_forward</mat-icon>
                <span class="ml-2">Right</span>
            </button>
        </div>

        <!-- Mobile Controls -->
        <div class="flex flex-wrap gap-1 justify-start sm:hidden">
            <button mat-icon-button (click)="reset()" matTooltip="Reset View">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-icon-button (click)="zoomIn()" matTooltip="Zoom In">
                <mat-icon>zoom_in</mat-icon>
            </button>
            <button mat-icon-button (click)="zoomOut()" matTooltip="Zoom Out">
                <mat-icon>zoom_out</mat-icon>
            </button>
            <button mat-icon-button (click)="panUp()" matTooltip="Pan Up">
                <mat-icon>keyboard_arrow_up</mat-icon>
            </button>
            <button mat-icon-button (click)="panDown()" matTooltip="Pan Down">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <button mat-icon-button (click)="panLeft()" matTooltip="Pan Left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-icon-button (click)="panRight()" matTooltip="Pan Right">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>

    <div class="flex-1 overflow-hidden min-h-[500px]">
        <div #panZoom appPanZoom [zoomLevels]="10" [scalePerZoomLevel]="scalePerZoomLevel" [zoomStepDuration]="0.15"
            [freeMouseWheelFactor]="mouseWheelFactor" [zoomToFitZoomLevelFactor]="0.9" [neutralZoomLevel]="2"
            [zoomEnabled]="zoomEnabled" class="w-full h-full">
            <div class="flex items-center justify-center w-full h-full">
                <div class="relative p-5 bg-gray-800 rounded-lg shadow-lg">
                    <div class="flex flex-col gap-1">
                        <div *ngFor="let row of keyboardLayout" class="flex gap-1">
                            <div *ngFor="let key of row" cdkDropList
                                class="bg-gray-700 text-white font-semibold flex justify-center items-center h-12 {{ key.width }} rounded border border-gray-600 shadow-md transition-transform transform duration-300 ease-in-out hover:bg-gray-300 cursor-pointer"
                                [ngClass]="{ 'bg-green-500': key.keybinds?.length, 'bg-gray-700': !key.keybinds?.length, 'cursor-default': !key.keybinds?.length }"
                                (click)="onKeyClick(key.label, key.keybinds)">
                                {{ key.label }}

                                <!-- Show up to 3 dots horizontally underneath the key if key has keybinds -->
                                <div *ngIf="key.keybinds?.length"
                                    class="absolute bottom-0 left-1/2 transform -translate-x-1/2 flex justify-center">
                                    <!-- Loop through up to 3 keybindings and display dots horizontally -->
                                    <div *ngFor="let keybind of key.keybinds.slice(0, 3)"
                                        class="w-2 h-2 bg-white rounded-full mx-1"></div>

                                    <!-- If there are more than 3 keybinds, show the plus sign -->
                                    <div *ngIf="key.keybinds?.length > 3" class="text-white text-sm">+</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>