<div class="pl-2 pt-2 flex flex-row">
    <div class="flex-col px-2">
        @if (selectedKeybinding && selectedKeybindingClass) {
        <mat-form-field appearance="fill" class="w-48">
            <mat-label>Class: </mat-label>
            <mat-select [(value)]="selectedKeybindingClass" [disabled]="!keybindingSelected"
                (selectionChange)="onClassChange($event)">
                @for (class of classes; track class) {
                <mat-option [value]="class.name">{{class.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }
        @if (!selectedKeybinding && !selectedKeybindingClass) {
        <mat-form-field appearance="fill" class="w-48">
            <mat-label>Class: </mat-label>
            <mat-select placeholder="Select an option" [disabled]="isDisabled">
                <mat-option value="" disabled>Select an option</mat-option>
                <!-- Dynamically add options here -->
            </mat-select>
        </mat-form-field>
        }
    </div>
    @if (selectedKeybinding && selectedKeybindingClass) {
    <div class="flex-col px-2">
        <mat-form-field appearance="fill" class="w-48">
            <mat-label>Spec: </mat-label>
            <mat-select [(value)]="selectedKeybindingSpec" [disabled]="!keybindingSelected"
                (selectionChange)="onSpecChange($event)">
                @for (spec of specs; track spec) {
                <mat-option [value]="spec">{{spec}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    }
    @if (selectedKeybinding && selectedKeybindingClass && selectedKeybindingSpec) {
    <div class="flex-col px-2">
        <mat-form-field appearance="fill" class="w-48">
            <mat-label>Hero Talent: </mat-label>
            <mat-select [(value)]="selectedKeybindingHeroTalent" [disabled]="!keybindingSelected"
                (selectionChange)="onHeroTalentChange($event)">
                @for (heroTalent of heroTalents; track heroTalent) {
                <mat-option [value]="heroTalent">{{heroTalent}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </div>
    }
</div>
<div class="pl-4 pb-2 flex flex-row w-full max-h-6 min-h-6 items-center">
    <p class="">Abilities</p>

    @if (abilities?.length > 0) {
    <!-- Previous Page Button -->
    <!-- <mat-icon class="text-gray-500 cursor-pointer ml-2" (click)="goToPreviousPage()"
        [class.opacity-50]="currentPage === 0">arrow_back</mat-icon> -->

    <p class="ml-2">
        Page {{ currentPage + 1 }} of {{ maxPage() + 1 }} |
        Showing {{ getStartIndex() + 1 }} - {{ getEndIndex() }} of {{ abilities.length }}
    </p>

    <!-- Next Page Button -->
    <!-- <mat-icon class="text-gray-500 cursor-pointer ml-2" (click)="goToNextPage()"
        [class.opacity-50]="currentPage === maxPage()">arrow_forward</mat-icon> -->
    }
</div>

<div class="w-full pl-4 flex">
    <div class="flex items-center">
        @if (abilities?.length > 0) {
        <mat-icon class="text-gray-500 cursor-pointer ml-2" (click)="goToPreviousPage()"
            [class.opacity-50]="currentPage === 0">arrow_back</mat-icon>
        @for (ability of getAbilitiesForCurrentPage(); track ability) {
        <div class="flex flex-col w-12">
            <div class="flex items-center" matTooltip="{{ ability.name }}: {{ ability.description }}"
                matTooltipPosition="above" (click)="selectKey(ability)">
                <img [src]="ability.icon" alt="{{ ability.name }} icon" class="w-12 h-12 object-contain"
                    [class.grayscale]="ability.keybindings.length > 0" />
            </div>
        </div>

        }
        <mat-icon class="text-gray-500 cursor-pointer ml-2" (click)="goToNextPage()"
            [class.opacity-50]="currentPage === maxPage()">arrow_forward</mat-icon>
        }
    </div>
</div>