<div class="flex min-w-0 flex-auto flex-col items-center sm:flex-row sm:justify-center md:items-start md:justify-start w-full min-h-screen overflow-hidden">
    <div
        class="relative w-full px-4 py-8 sm:bg-card sm:w-auto sm:rounded-2xl sm:p-12 sm:shadow md:flex md:h-full md:w-1/2 md:items-center md:justify-end md:rounded-none md:p-16 md:shadow-none">
        <!-- Scheme toggle (top right) -->
        <div class="absolute top-4 right-4">
            <app-scheme-toggle></app-scheme-toggle>
        </div>
        <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
            <!-- Logo -->
            <div class="w-48">
                <img src="images/logo/logo-text.svg" />
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
                Confirmation
            </div>
            <div class="mt-4">
                {{message}}
            </div>

            <!-- Form footer -->
            <div class="text-secondary mt-8 text-md font-medium">
                <span>Return to</span>
                <a class="ml-1 text-primary-500 hover:underline" [routerLink]="['/sign-in']">sign in
                </a>
            </div>
        </div>
    </div>
    <app-auth-background></app-auth-background>
</div>
