<div class="flex flex-col h-full text-nowrap">
    <!-- Row 1 -->
    <div class="flex-0 max-h-14 min-h-6 items-center justify-center p-2 sm:p-4">
        <div class="text-lg sm:text-3xl font-semibold leading-8 tracking-tight text-center">
            <span class="hidden sm:inline">My Macros</span>
            <span class="sm:hidden">Macros</span>
        </div>
    </div>

    <!-- Row 2 -->
    <div class="flex-0 min-h-12 items-center justify-center">
        <mat-accordion appClickOutside (clickOutside)="closeAccordion()">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>Filter</mat-panel-title>
                    <mat-panel-description class="text-nowrap">{{selectedClasses.value?.[0]?.name || ''}}
                        @if ((selectedClasses.value?.length || 0) > 1) {
                        <span>
                            (+{{(selectedClasses.value?.length || 0) - 1}} {{selectedClasses.value?.length === 2 ?
                            'other' : 'others'}})
                        </span>
                        }
                        @if ((selectedClasses.value?.length || 0) < 1) { <p>None</p>
                            }
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field class="w-full">
                    <mat-label>Classes</mat-label>
                    <mat-select [formControl]="selectedClasses" multiple>
                        <mat-select-trigger>
                            {{selectedClasses.value?.[0]?.name || ''}}
                            @if ((selectedClasses.value?.length || 0) > 1) {
                            <span>
                                (+{{(selectedClasses.value?.length || 0) - 1}} {{selectedClasses.value?.length === 2 ?
                                'other' :
                                'others'}})
                            </span>
                            }
                        </mat-select-trigger>
                        @for (class of classList; track class) {
                        <mat-option [value]="class">{{class.name}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <!-- Row -->
    @for (macro of filteredMacros; track macro.id) {
    <div class="flex items-center p-3 cursor-pointer" [ngClass]="{
            'bg-blue-500 text-white': isSelected(macro.id),
            'bg-gray-200 text-black': !isSelected(macro.id)
         }" (click)="selectMacro(macro)">
        <div class="flex-1 flex items-center gap-2">
            <img [src]="getMacroIcon(macro)" [alt]="macro.name" class="w-6 h-6">
            <p>{{macro.name}} - {{getClassDisplayName(macro.class)}}</p>
        </div>
        <div class="flex items-center">
            @if (macro.is_public) {
            <mat-icon class="text-green-500">public</mat-icon>
            } @else {
            <mat-icon class="text-gray-500">public_off</mat-icon>
            }
        </div>
    </div>
    }

    <!-- Last Row until max 100 has reached -->
    @if (macros.length < MAX_SIZE) { <div class="flex flex-0 max-h-16 min-h-12 items-center justify-center">
        <button type="button" class="ml-3 hidden sm:inline-flex" mat-flat-button [color]="'primary'"
            (click)="onCreateNewMacro()">
            <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus'"></mat-icon>
            <span class="ml-2">Create Macro</span>
        </button>
</div>
}

</div>
