<div class="flex w-full flex-auto flex-col">

    <mat-drawer-container class="h-full">

        <mat-drawer #drawer class="h-full w-64" mode="side" [(opened)]="opened">
            <keybinds-drawer (keybindingSelected)="onKeybindingSelected($event)"></keybinds-drawer>
        </mat-drawer>
        <mat-drawer-content class="">
            <view-all-keybindings [keybindingSelected]="keybindingSelected" [selectedKeybinding]="selectedKeybinding"
                [selectedKeybindingName]="selectedKeybindingName" [isAuthenticated]="isAuthenticated"
                [editingName]="editingName" [nameForm]="nameForm" (deleteKeybinding)="deleteKeybinding()"
                (shareKeybinding)="shareKeybinding()" (editName)="editName()" (saveName)="saveName()"
                (cancelName)="cancelName()" (togglePublic)="togglePublic()"
                (refreshChildKeybindings)="refreshChildKeybindings()" (updateKeybinding)="updateKeybinding($event)">
            </view-all-keybindings>
        </mat-drawer-content>
    </mat-drawer-container>


</div>