<div class="flex w-full flex-auto flex-col">

    <mat-drawer-container class="h-full">

        <mat-drawer #drawer class="h-full w-64" mode="side" [(opened)]="opened">
            <keybinds-drawer (keybindingSelected)="onKeybindingSelected($event)"></keybinds-drawer>
        </mat-drawer>
        <mat-drawer-content class="">
            @if (isViewAllRoute) {
            <view-all-keybindings [keybindingSelected]="keybindingSelected" [selectedKeybinding]="selectedKeybinding"
                [selectedKeybindingName]="selectedKeybindingName" [isAuthenticated]="isAuthenticated"
                [editingName]="editingName" [nameForm]="nameForm" [opened]="opened"
                (deleteKeybinding)="deleteKeybinding()" (shareKeybinding)="shareKeybinding()" (editName)="editName()"
                (saveName)="saveName()" (cancelName)="cancelName()" (togglePublic)="togglePublic()"
                (refreshChildKeybindings)="refreshChildKeybindings()" (updateKeybinding)="updateKeybinding($event)"
                (toggleDrawer)="opened = !opened">
            </view-all-keybindings>
            } @else if (isViewKeybindingRoute) {
            <view-keybinding [keybinding]="viewKeybinding" [isAuthenticated]="isAuthenticated" [opened]="opened"
                (keybindingUpdated)="updateKeybinding($event)" (refreshKeybindings)="refreshChildKeybindings()"
                (duplicateKeybinding)="duplicateKeybinding($event)" (toggleDrawer)="opened = !opened"></view-keybinding>
            } @else if (isCreateRoute) {
            <!-- Create keybinding content -->
            <div class="flex flex-col w-full">
                <create-keybinding *ngIf="isCreateRoute" [opened]="opened" (toggleDrawer)="opened = !opened"
                    (keybindingCreated)="onKeybindingCreated($event)">
                </create-keybinding>
            </div>
            }
        </mat-drawer-content>
    </mat-drawer-container>


</div>