<div class="flex w-full flex-auto flex-col">

    <mat-drawer-container class="h-full">

        <mat-drawer #drawer class="h-full w-64" mode="side" [(opened)]="opened">
            <keybinds-drawer (keybindingSelected)="onKeybindingSelected($event)"></keybinds-drawer>
        </mat-drawer>
        <mat-drawer-content class="">
            @if (isHomeRoute) {
            <keybinds-home [isAuthenticated]="isAuthenticated"></keybinds-home>
            } @else if (isMyKeybindingsRoute) {
            <view-all-keybindings [keybindingSelected]="keybindingSelected" [selectedKeybinding]="selectedKeybinding"
                [selectedKeybindingName]="selectedKeybindingName" [isAuthenticated]="isAuthenticated"
                [editingName]="editingName" [nameForm]="nameForm" [opened]="opened"
                [currentKeybindingCount]="keybindings.length" [maxKeybindings]="MAX_SIZE"
                (deleteKeybinding)="deleteKeybinding($event)" (shareKeybinding)="shareKeybinding()"
                (editName)="editName()" (saveName)="saveName()" (cancelName)="cancelName()"
                (togglePublic)="togglePublic()" (refreshChildKeybindings)="refreshChildKeybindings()"
                (updateKeybinding)="updateKeybinding($event)" (toggleDrawer)="opened = !opened"
                (selectKeybinding)="onKeybindingSelected($event)"
                (refreshAbilities)="refreshAbilitiesForMigratedKeybinding($event)">
            </view-all-keybindings>
            }
        </mat-drawer-content>
    </mat-drawer-container>


</div>