<div class="flex flex-col p-6">
    <!-- Scheme -->
    <div class="text-secondary text-md font-semibold">SCHEME</div>
    <div class="mt-6 grid grid-cols-3 justify-items-start gap-3">
        <!-- Auto -->
        <!-- <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'auto'"
            matTooltip="Automatically sets the scheme based on user's operating system's color scheme preference using 'prefer-color-scheme' media query."
            (click)="setScheme('auto')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:bolt'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5" [class.text-secondary]="config.scheme !== 'auto'">
                Auto
            </div>
        </div> -->
        <!-- Dark -->
        <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'dark'" (click)="setScheme('dark')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:moon'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5" [class.text-secondary]="config.scheme !== 'dark'">
                Dark
            </div>
        </div>
        <!-- Light -->
        <div class="bg-hover flex cursor-pointer items-center rounded-full py-3 pl-5 pr-6 ring-inset ring-primary"
            [class.ring-2]="config.scheme === 'light'" (click)="setScheme('light')">
            <div class="flex items-center overflow-hidden rounded-full">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:sun'"></mat-icon>
            </div>
            <div class="ml-2 flex items-center font-medium leading-5"
                [class.text-secondary]="config.scheme !== 'light'">
                Light
            </div>
        </div>
    </div>

    <!-- Actions -->
    <div class="flex items-center justify-end pt-3">
        <button class="ml-4" mat-flat-button type="button" [color]="'primary'" [disabled]="!toggledScheme"
            (click)="saveScheme()">
            Save
            <mat-progress-spinner *ngIf="saveSettingsForm.disabled" [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
        </button>
    </div>

</div>
