<div class="flex flex-col w-full h-full">
    <div class="mx-auto flex w-full flex-wrap pb-2">
        <div class="flex flex-row w-full justify-between items-center py-2 ml-6">
            <div class="text-3xl font-semibold leading-8 tracking-tight">
                <button mat-icon-button (click)="toggleDrawer.emit()">
                    <mat-icon>{{ opened ? 'menu_open' : 'menu' }}</mat-icon>
                </button>
                Create New Keybinding
            </div>
        </div>
    </div>

    <form [formGroup]="keybindingForm" class="max-w-2xl mx-auto bg-white rounded-lg shadow-md p-6">
        <div class="mb-6">
            <mat-form-field class="w-full">
                <mat-label>Keybinding Name</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
        </div>

        <div class="mb-6">
            <mat-form-field class="w-full">
                <mat-label>Class</mat-label>
                <mat-select formControlName="class">
                    <mat-option value="">Select a class</mat-option>
                    <mat-option *ngFor="let class of classes" [value]="class">{{class}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mb-6">
            <mat-form-field class="w-full">
                <mat-label>Specialization</mat-label>
                <mat-select formControlName="spec">
                    <mat-option value="">Select a specialization</mat-option>
                    <mat-option *ngFor="let spec of specs" [value]="spec">{{spec}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mb-6">
            <mat-form-field class="w-full">
                <mat-label>Hero Talent</mat-label>
                <mat-select formControlName="heroTalent">
                    <mat-option value="">Select a hero talent</mat-option>
                    <mat-option *ngFor="let talent of heroTalents" [value]="talent">{{talent}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex justify-end space-x-4">
            <button type="button" mat-stroked-button (click)="onCancel()">
                Cancel
            </button>
            <button type="button" mat-raised-button color="primary" [disabled]="!keybindingForm.valid"
                (click)="onSubmit()">
                Create Keybinding
            </button>
        </div>
    </form>
</div>